{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "react",
    "stage-0"
  ],
  "sourceMaps": true,
  "comments": false,
  "compact": false,
  "plugins": [
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-class-properties"
  ]
}